.middle-section {
  /* border: 2px solid #ff2727; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .middle-section {
    height: 700px;
  }
  .middle-section {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .middle-section {
    height: 400px;
  }
  .middle-section {
    flex-direction: column;
  }
}
.left-of-grid,
.right-of-grid {
  height: 100%;
  /* border: 2px solid #2137ff; */
  width: 40vw;
  display: flex;
}
.left-of-grid {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.right-of-grid {
  align-items: center;
}

.btn-container {
  width: max-content;
}

.reSelectBtn,
.doneBtn {
  width: 100%;
  padding: 5px 10px;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.reSelectBtn.enable:hover,
.doneBtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.reSelectBtn.enable:active,
.doneBtn:active {
  transform: scale(0.95);
}

.reSelectBtn:not(.enable) {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.1);
}

.player-turn {
  /* border: #fff solid 1px; */
  transform: translateX(50%);
  font-size: 30px;
}
.players-container {
  font-size: 20px;
}

.player-container {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px 0;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.player-container:hover .player-score {
  left: 120%;
}

.player {
  background-color: red;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-score {
  position: absolute;
  border-radius: 25px;
  z-index: -1;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 50px;
  border: #fff solid 1px;
  transition: 0.25s all ease-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

@keyframes fadeOut-green {
  0% {
    background-color: green;
  }
  100% {
    background-color: var(--primary-bg);
  }
}

@keyframes fadeOut-red {
  0% {
    background-color: red;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes fadeOut-orange {
  0% {
    background-color: orange;
  }
  100% {
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .left-of-grid,
  .right-of-grid {
    width: 310px;
  }
  .player-turn {
    transform: translateX(0);
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .players-container {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .player-container:nth-child(2) {
    margin: 10px 35px 10px 0;
  }
  .player-container:hover .player-score {
    left: 70%;
  }

  .btn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .reSelectBtn {
    margin-right: 10px;
  }
  .reSelectBtn,
  .doneBtn {
    padding: 10px 15px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .left-of-grid,
  .right-of-grid {
    width: 240px;
  }
  .player-turn {
    transform: translateX(0);
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .players-container {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .player-container:nth-child(2) {
    margin: 10px 35px 10px 0;
  }
  .player-container:hover .player-score {
    left: 70%;
  }

  .btn-container {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .reSelectBtn {
    margin-right: 10px;
  }
}

.green {
  background-color: green;
  animation: 2s fadeOut-green ease-in forwards;
}

.red {
  background-color: red;
  animation: 2s fadeOut-red ease-in forwards;
}

.orange {
  background-color: orange;
  animation: 2s fadeOut-orange ease-in forwards;
}
