.page-container {
  border: 2px solid #7c7c7c;
  height: 100vh;
}
.middle-section {
  /* border: 2px solid #ebbfbf; */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-of-grid,
.right-of-grid {
  height: 100%;
  /* border: 2px solid #ebbfbf; */
  width: 40vw;
  display: flex;
  align-items: center;
}

.btn-container {
  width: max-content;
}

.reSelectBtn,
.doneBtn {
  width: 100%;
  padding: 5px 10px;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

.reSelectBtn:hover,
.doneBtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.reSelectBtn:active,
.doneBtn:active {
  transform: scale(0.95);
}
