.keyboard-footer {
  height: calc(100vh - 400px - 70px - 4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard-row {
  display: flex;
}

.key {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  padding: 1px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  user-select: none;
  cursor: pointer;
}
.key:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.key:active {
  transform: scale(1.1);
}
