.page-container.blur {
  filter: blur(5px);
  pointer-events: none;
}
.tutorial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  position: absolute;
  width: 70vmin;
  height: 70vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
}

.tut-heading {
  text-align: center;
  width: 100%;
  color: black;
  text-decoration: underline;
}

.tut-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.tut-buttons button {
  border: rgba(255, 255, 255, 0.7) solid 1px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.tut-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.tut-buttons button:disabled {
  border: rgba(255, 255, 255, 0.7) solid 1px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  cursor: auto;
}

.tut-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px;
  flex-grow: 1;
  height: 100%;
}

.tut-img {
  width: 100%;
  height: 200px;
}
.tut-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tut-points {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}

.tut-point-final {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.tut-points > p {
  text-align: center;
}
